[Desktop Entry]
Name=ConverseJS
Exec=webapp-container --app-id="conversejs.povoq" $@ www/index.html --maximized
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
