/*
Various CSS hacks to make ConverseJS more usable on small screen devices
and to solve other issues related to running it in a qtwebview container
*/

#conversejs.converse-mobile .chatroom .box-flyout {
  border: inherit;
}

#conversejs, #conversejs-bg, .converse-fullscreen {
  --send-button-height: 2.7em;
  --send-button-right: 0.5em;
  --send-button-bottom: 1.5em;
  --occupants-features-display: none;
  --occupants-padding: 0.5em;
}

#conversejs .chatbox .sendXMPPMessage .chat-textarea {
  padding-right: 4.0em;
  text-align: justify;
}

#conversejs .fa, #conversejs .fab, #conversejs .far, #conversejs .fas, .converse-website .fa, .converse-website .fab, .converse-website .far, .converse-website .fas {
  font-size: 18px;
}

#conversejs .chatroom .sendXMPPMessage .chat-toolbar .fa {
  padding-left: 1em;
  padding-right: 1em;
}

#conversejs .chatroom .box-flyout .chatroom-body .occupants .occupants-header .hide-occupants {
  display: none;
}

#conversejs.converse-mobile .chatroom .box-flyout .chatroom-body .occupants .occupants-heading {
  font-size: var(--font-size-medium);
}

#conversejs .chatroom .room-invite .invited-contact {
  width: 60%;
}

#conversejs .chatroom .box-flyout .chatroom-body .occupants ul li.occupant .occupant-nick-badge .occupant-badges, #conversejs.converse-embedded .chatroom .box-flyout .chatroom-body .occupants ul li.occupant .occupant-nick-badge .occupant-badges {
  display: none;
}

#conversejs #controlbox .controlbox-section .controlbox-heading__btn {
  font-size: 1.5em;
  margin: inherit;
  min-width: 60px;
}

#conversejs #controlbox .controlbox-pane .controlbox-padded .change-status {
  min-width: 60px;
}

#conversejs .chatbox .sendXMPPMessage .chat-toolbar .fa, #conversejs .chatbox .sendXMPPMessage .chat-toolbar .fa:hover, #conversejs .chatbox .sendXMPPMessage .chat-toolbar .far, #conversejs .chatbox .sendXMPPMessage .chat-toolbar .far:hover, #conversejs .chatbox .sendXMPPMessage .chat-toolbar .fas, #conversejs .chatbox .sendXMPPMessage .chat-toolbar .fas:hover {
  font-size: var(--font-size-huge);
}

#conversejs .chatbox .sendXMPPMessage .send-button {
  bottom: var(--send-button-bottom);
  border: none;
  padding: 0.5em;
  right: var(--send-button-right);
  height: auto;
  cursor: pointer;
  width: auto;
  left: auto;
  position: absolute;
}

#conversejs .modal-body {
  overflow-y: auto;
  height: auto;
  max-height: 600px;
}

#conversejs:not(.converse-embedded) .chatroom .box-flyout .chatbox-navback {
  flex: 0 0 15%;
  max-width: 15%;
}

#conversejs:not(.converse-embedded) .chatroom .box-flyout .chatbox-title {
  flex: 0 0 55%;
  max-width: 55%;
}

#conversejs:not(.converse-embedded) .chatroom .box-flyout .chatbox-buttons {
  flex: 0 0 30%;
  max-width: 30%;
}
